@import "_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

.mainBody {
  padding-top: $app-top-spacing !important;
}
.hero-comp {
  margin-top: (-$app-top-spacing);
}
.v-application {
  font-family: "Roboto", Arial, Helvetica, sans-serif, 'Times New Roman', 'Calibri';

  background-color: var(--v-bodyBG-base);
  color: var(--v-secondary3-base) !important;
}
.v-application a {
  text-decoration: none;
  color: var(--v-secondary-base) !important;
}
.app-title {
  font-size: 28px;
}
hr {
  height: 1px;
  width: 100%;
  background-color: var(--v-borderLine-base);
  border: 0;
}
hr.broken {
  border: 0;
  border-bottom: 1px dashed var(--v-borderLine-base);
  background-color: unset;
}
.right-vert-divider,
.left-vert-divider {
  position: relative;
}
.left-vert-divider {
  padding-left: 22px;
}
.right-vert-divider::after {
  content: "";
  height: 60%;
  background-color: var(--v-borderLine-base);
  width: 2px;
  margin-left: 15px;
}
.left-vert-divider::before {
  content: "";
    height: 100%;
    background-color: var(--v-borderLine-base);
    width: 2px;
    left: 10px;
    position: absolute;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-sticky {
  position: sticky;
}
.cursorMe {
    cursor: pointer;
}
.borderTest{
  border: 1px solid black !important;
}
.borderMe {
  border: 1px solid var(--v-borderLine-base) !important;
}
.app-max-width {
  max-width: 1044px !important;
}
.app-container {
  margin: 0 auto;
  max-width: 1044px !important;
}
.fillHeight {
  height: 100vh;
}
.parentWidth {
  width: 100%;
}
.parentHeight {
  height: 100%;
}
.modalDialog.fullscreen {
  max-height: 100% !important;
}
.no-box-shadow {
  box-shadow: none !important;
}
.box-shadow1 {
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}
.box-shadow2 {
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
}
.marginCenter {
  margin: 0 auto;
}
.centerWidth50 {
  width: 50%;
  margin: 0 auto;
}
.gen-button {
    text-transform: capitalize !important;
    letter-spacing: 0;
}
.no-Btn-bg::before {
   background-color: transparent !important; /* Remove default gover bg color from button */
}

.allChildrenCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.appCard {
  border-radius: 20px;
  background: white;
  padding: 40px;
}
.radius5 {
  border-radius: 5px
}
.input-wrapper {
  margin-bottom: 25px
}
/* Remove default spaces around v-checkbox */
.noSpaceCheckbox {
  padding: 0 !important;
  margin: 0;
  margin-top: 0 !important;
}

.def-section {
  padding: 24px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid var(--v-borderLine-base);
  margin-bottom: 20px;
}
.primary-border {
  border: 1px solid var(--v-primary-base);
}
.v-application .v-icon,
i.material-icons-outlined {
  font-size: 20px !important;
  color: var(--v-secondary-base);
}
i.material-icons-outlined {
  vertical-align: middle;
}
.icon-outlined {
  border-radius: 50%;
  border: 1px solid var(--v-borderLine-base);
  height: 40px;
  width: 40px;
}
.v-icon.tiny {
  font-size: 10px !important;
}
.icon-outlined.tiny {
  border-radius: 50%;
  border: 1px solid var(--v-borderLine-base);
  height: 15px;
  width: 15px;
}
.x1-5transform {
  transform: scale(1.5);
}
.centered-input input {
  text-align: center;
}

.v-radio .v-input--selection-controls__input {
  transform: scale(1.3);
}

// Country Input
.join-input-left,
.vue-tel-input-vuetify .v-text-field--outlined:first-child {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.join-input-last,
.vue-tel-input-vuetify .v-text-field--outlined:nth-child(2) {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.vue-tel-input-vuetify .v-text-field__details {
  display: none !important;
}
.vue-tel-input-vuetify .country-code .v-input__slot {
  margin-bottom: 0 !important;
}

// route styling

.d-route {
  position: relative;
  padding-left: 20px;
}
.d-route::before {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  top: 31%;
  border-radius: 50%;
}
.d-route::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 4px;
  width: 2px;
  height: 100%;
  background-color: var(--v-secondary-base);
}
.d-route.begin::before {
  background: transparent;
  border: 2px solid var(--v-secondary-base);
}
.d-route.end::before {
  background-color: var(--v-secondary-base);
}
.d-route.end::after {
  display: none;
}
.checkout-summary {
  top: 0;
}